@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --positive-effect-col: #047857;
  --negative-effect-col: #9b1d20;
  --navbar-height: 64px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.bg-pos {
  background: var(--positive-effect-col);
}

.bg-neg {
  background: var(--negative-effect-col);
}